@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .container {
        @apply max-w-[1535px] xl:max-w-[1279px] lg:max-w-[1023px] md:max-w-[767px] sm:max-w-[639px];
    }
}

@layer components {}
@layer utilities {}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #0F0E13;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes flicker {
  0%, 100% { opacity: 0.7; }
  50% { opacity: 0; }
}

.animate-flicker {
  animation: flicker 300ms ease-in-out;
}

#tsparticles {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  z-index: 0; /* if you use -1 you have to set to `"window"` the interactivity.detectsOn property */
}

canvas {
  height: 100% !important;
  bottom: 100% !important;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.fade-in-element {
  opacity: 0;
  animation: fadeIn 1s ease-in-out 1s forwards;
}

#tsparticles {
  opacity: 0;
  animation: fadeIn 1s ease-in-out 3s forwards;
}